@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{font-family: Montserrat;}
.main{
    display: flex;
    justify-content: center;
   
}