
.new-blogs{
    padding:6px;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(73,9,121,1) 35%, rgba(0,145,175,1) 88%);
    width: 200px;
    margin:10px;
    transition: transform 0.5s ease;
    
    
}
.new-blogs:hover{
    cursor: pointer;
    transform: scale(1.06);
    transition-delay: 0.1s;
}
.new-blogs h4{
    font-size: 22px;
    margin: 8px;
}
.new-blogs h3{
    color: white;
    font-size: 12px;
    margin: 5px;
}
.new-blogs b{
    font-weight: 800px;
}
.new-blogs p{
    background-color: rgba(255, 255, 255, 0.438);
    padding: 8px;
    padding-top: 2px;
    margin:0px;
    border-radius: 10px;
}
.new-blogs i {
    color:rgb(29, 163, 112);
    font-size: 10px;
    margin:0px 0px 0px 5px;
}
.new-blogs small {
    margin:5px;
}
.commentbox{
   
}
.commentbox h4{
    color: rgb(184, 255, 222);
    font-size: 18px;
}
.commentbox p{
    margin:4px;
    display: flex;
    flex-direction: column;
}