<div (click)="onClick()">
    <div class="new-blogs">
        <h4>{{blogPost.title}}</h4>
        <i>{{blogPost.date.toDateString()}}</i>
        <h3>{{blogPost.name}}</h3>
        <p>{{blogPost.message}}</p>
        <small>{{blogPost.email}}</small>

            <div *ngIf="blogPost.comments.length> 0" class="commentbox">
                <h4>Kommentar:</h4>
                <div *ngFor="let comment of blogPost.comments.slice(0, 2)">
                    <p><strong>{{ comment.name }}</strong> {{ comment.comment }}</p>
                </div>
            </div>

    </div>
</div>
