
.container{
    margin: 10px;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    background:linear-gradient(to bottom,  #013ea7, #00153b) ;
    border: 3px solid black;
    height: 100%;
    width: 800px;
}
.container h2{
    font-size: 40px;
    background-color: #a8c8ff1f;
    border-radius: 20px;
    width:460px;
    margin: 20px auto;
}
.container h3{
    color: rgb(15, 15, 15);
    font-size: 25px;
    font-weight: 600;
}
.inputbox{
    border: 2px solid #001b4a75;
    border-radius: 15px;
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:80px auto 50px auto;
}
input{
    height: 28px;
    margin: 10px;
    width:300px;
}
textarea{
    width: 300px;
    height: 100px;
    margin: 10px;
}
button{
    width: 80px;
    height: 26px;
    margin-bottom: 10px;
}
.blogContainer{
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    gap:20px;
    width:100%;
    
}
.detailed-blog{
    
    width: 100%;
    height: 700px;
    justify-content: center;
    align-items: center;
}
.detailed-blog h2{
    margin:auto;
    margin-top: 12px;
}
#backbtn{
    margin:12px;
    width: 80px;
    height:30px;
}
.select-box{
    padding:10px;
    background: linear-gradient(130deg, rgba(2,0,36,1) 0%, rgba(73,9,121,1) 35%, rgba(0,145,175,1) 88%);
    width:65%;
    margin:auto;
    border: 3px solid black;
    display:flex;
    flex-direction: column;
}

.select-box h2{
    font-size: 30px;
    margin: 8px auto;
    width: 220px;
}
.select-box b{
    color: white;
    font-size: 25px;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.select-box i{
    color:rgb(29, 163, 112) ;
}
.select-box p{
    width: 220px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.438);
    padding: 5px;
    padding-top: 2px;
    margin:auto;
    margin-bottom: 8px;
    border-radius: 10px;
}
.comments-box{
    width:420px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.315);
    margin: auto;
    margin-top: 50px;
}

.comment-text{
    display: flex;
    flex-direction: column;
}
.add-comment-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-comment-section h2{
    color:#2a0553;
    font-size: 32px;
    background-color: transparent;
}
.comments-section h4{
    margin:2px;
    margin-top: 10px;
}
.comments-section p{
    margin:2px 2px 8px 2px;
}
.comment-textarea{
    height:70px;
}