<div class="container">
    <h2>THE ANSLAGSTAVLA</h2>
    <div class="inputbox" *ngIf="!selectedBlog">
        <h3>Lägg till en blogg</h3>
    <form (ngSubmit)="onSubmit(blogForm)" #blogForm="ngForm" novalidate>
    
      <input 
        type="text"
        placeholder="Titel"
        [(ngModel)]="blogTitle"
        name="title"
        required
        #title="ngModel"
      >
      <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error">
        <div *ngIf="title.errors?.['required']" style="color:red;">Titel saknas!</div>
      </div>

      <input 
        type="text"
        placeholder="Namn"
        [(ngModel)]="blogName"
        name="name"
        required
        #name="ngModel"
      >
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error">
        <div *ngIf="name.errors?.['required']" style="color:red;">Namn saknas!</div>
      </div>

      <input 
        type="email"
        placeholder="E-post"
        [(ngModel)]="blogEmail"
        name="email"
        required
        email
        #email="ngModel"
      >
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
        <div *ngIf="email.errors?.['required']" style="color:red;">Email saknas!</div>
        <div *ngIf="email.errors?.['email']" style="color:red;">Ogiltig email!</div>
      </div>

      <textarea
        placeholder="Innehåll"
        [(ngModel)]="blogMessage"
        name="message"
        required
        #message="ngModel"
      ></textarea>
      <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error">
        <div *ngIf="message.errors?.['required']" style="color:red;">Innehåll saknas!</div>
      </div>


            
            <button type="submit" [disabled]="!blogForm.valid">Lägg till</button>
        </form>
    </div>

    <div class="detail-box">

        <div class="detailed-blog" *ngIf="selectedBlog; else blogList">
            <div class="select-box">
            <h2>{{ selectedBlog.title }}</h2>
            <i>{{ selectedBlog.date.toDateString() }}</i>
            <b>{{ selectedBlog.name }}</b>
            <p>{{ selectedBlog.message }}</p>
            <i>{{ selectedBlog.email }}</i>
            </div>

            <div class="comments-box">
                <div class="add-comment-section">
                    <h2>Lämna en kommentar!</h2>
                    <input 
                        type="text"
                        placeholder="Namn"
                        [(ngModel)]="commentName"
                        class="comment-input"
                    >
                    <textarea
                        placeholder="Kommentar"
                        [(ngModel)]="commentText"
                        class="comment-textarea"
                    ></textarea>
                    <button (click)="addComment()" class="comment-button">Lägg till</button>
                </div>
                <div class="comments-section" *ngIf="selectedBlog.comments.length > 0">
                    <h4>Kommentar tillagd:</h4>
                    <div *ngFor="let comment of selectedBlog.comments" class="comment">
                        <p class="comment-text">
                            <i class="comment-name">{{ comment.name }}</i>  {{ comment.comment }}
                        </p>
                    </div>
                </div>
        </div>
                <button id="backbtn" (click)="onBack()">Tillbaka</button>
    </div>


    

    
    <ng-template #blogList>
    <div class="blogContainer">
        <div *ngFor="let blog of blogs; index as i">
            <app-blogs [blogPost]="blog" (click)="onSelectBlog(blog)"></app-blogs>
        </div>
    </div>
    </ng-template>
</div>